.button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }
  &__create {
    background-color: $button;
    align-self: flex-end;
    padding: 10px 30px;
  }
  &__card {
    margin-left: 10px;
    border: 1px solid $border;
    border-radius: 5px;
    background-color: #fff;
  }
}
